<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center my-5">
                        <figure>
                         <img src="images/2663517.jpg" alt="" width="695px" height="420px">
                        </figure>
                        <p>Welcome to IonTheSky App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="" target="_thapa"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->
                   
                </div>
            </div>
        </div>
    </div>
<!-- footer code -->

{{>footer}}

</body>

</html>